/********************************************************************************************
 *
 * osoc_response.css v0.9.4 | MIT License | github.com/osoc/osoc_response.css
 * 
********************************************************************************************/
@media screen and (min-width:1.001em) and (max-width:5.396em) and (min-aspect-ratio:12/9){
    html{
        font-size:4%;
        -webkit-text-size-adjust:4%;
        -ms-text-size-adjust:4%;
    }
}
@media screen and (min-width:5.397em) and (max-width:10.224em) and (min-aspect-ratio:12/9){
    html{
        font-size:10%;
        -webkit-text-size-adjust:10%;
        -ms-text-size-adjust:10%;
    }
}
@media screen and (min-width:10.225em) and (max-width:15.532em) and (min-aspect-ratio:12/9){
    html{
        font-size:17%;
        -webkit-text-size-adjust:17%;
        -ms-text-size-adjust:17%;
    }
}
@media screen and (min-width:15.533em) and (max-width:21.364em) and (min-aspect-ratio:12/9){
    html{
        font-size:24%;
        -webkit-text-size-adjust:24%;
        -ms-text-size-adjust:24%;
    }
}
@media screen and (min-width:21.365em) and (max-width:27.776em) and (min-aspect-ratio:12/9){
    html{
        font-size:32%;
        -webkit-text-size-adjust:32%;
        -ms-text-size-adjust:32%;
    }
}
@media screen and (min-width:27.777em) and (max-width:34.820em) and (min-aspect-ratio:12/9){
    html{
        font-size:41%;
        -webkit-text-size-adjust:41%;
        -ms-text-size-adjust:41%;
    }
}
@media screen and (min-width:34.821em) and (max-width:42.564em) and (min-aspect-ratio:12/9){
    html{
        font-size:51%;
        -webkit-text-size-adjust:51%;
        -ms-text-size-adjust:51%;
    }
}
@media screen and (min-width:42.565em) and (max-width:51.076em) and (min-aspect-ratio:12/9){
    html{
        font-size:62%;
        -webkit-text-size-adjust:62%;
        -ms-text-size-adjust:62%;
    }
}
@media screen and (min-width:51.077em) and (max-width:60.428em) and (min-aspect-ratio:12/9){
    html{
        font-size:74%;
        -webkit-text-size-adjust:74%;
        -ms-text-size-adjust:74%;
    }
}
@media screen and (min-width:60.429em) and (max-width:70.708em) and (min-aspect-ratio:12/9){
    html{
        font-size:87%;
        -webkit-text-size-adjust:87%;
        -ms-text-size-adjust:87%;
    }
}
@media screen and (min-width:70.709em) and (max-width:82.004em) and (min-aspect-ratio:12/9){
    html{
        font-size:101%;
        -webkit-text-size-adjust:101%;
        -ms-text-size-adjust:101%;
    }
}
@media screen and (min-width:82.005em) and (max-width:94.420em) and (min-aspect-ratio:12/9){
    html{
        font-size:117%;
        -webkit-text-size-adjust:117%;
        -ms-text-size-adjust:117%;
    }
}
@media screen and (min-width:94.421em) and (max-width:108.064em) and (min-aspect-ratio:12/9){
    html{
        font-size:134%;
        -webkit-text-size-adjust:134%;
        -ms-text-size-adjust:134%;
    }
}
@media screen and (min-width:108.065em) and (max-width:123.060em) and (min-aspect-ratio:12/9){
    html{
        font-size:154%;
        -webkit-text-size-adjust:154%;
        -ms-text-size-adjust:154%;
    }
}
@media screen and (min-width:123.061em) and (max-width:139.540em) and (min-aspect-ratio:12/9){
    html{
        font-size:175%;
        -webkit-text-size-adjust:175%;
        -ms-text-size-adjust:175%;
    }
}
@media screen and (min-width:139.541em) and (max-width:157.652em) and (min-aspect-ratio:12/9){
    html{
        font-size:198%;
        -webkit-text-size-adjust:198%;
        -ms-text-size-adjust:198%;
    }
}
@media screen and (min-width:157.653em) and (max-width:177.556em) and (min-aspect-ratio:12/9){
    html{
        font-size:223%;
        -webkit-text-size-adjust:223%;
        -ms-text-size-adjust:223%;
    }
}
@media screen and (min-width:177.557em) and (max-width:199.432em) and (min-aspect-ratio:12/9){
    html{
        font-size:251%;
        -webkit-text-size-adjust:251%;
        -ms-text-size-adjust:251%;
    }
}
@media screen and (min-width:199.433em) and (max-width:223.476em) and (min-aspect-ratio:12/9){
    html{
        font-size:281%;
        -webkit-text-size-adjust:281%;
        -ms-text-size-adjust:281%;
    }
}
@media screen and (min-width:223.477em) and (max-width:249.900em) and (min-aspect-ratio:12/9){
    html{
        font-size:315%;
        -webkit-text-size-adjust:315%;
        -ms-text-size-adjust:315%;
    }
}
@media screen and (min-width:249.901em) and (max-width:278.940em) and (min-aspect-ratio:12/9){
    html{
        font-size:352%;
        -webkit-text-size-adjust:352%;
        -ms-text-size-adjust:352%;
    }
}
@media screen and (min-width:278.941em) and (max-width:310.856em) and (min-aspect-ratio:12/9){
    html{
        font-size:393%;
        -webkit-text-size-adjust:393%;
        -ms-text-size-adjust:393%;
    }
}
@media screen and (min-width:310.857em) and (max-width:345.928em) and (min-aspect-ratio:12/9){
    html{
        font-size:437%;
        -webkit-text-size-adjust:437%;
        -ms-text-size-adjust:437%;
    }
}
@media screen and (min-width:345.929em) and (max-width:384.476em) and (min-aspect-ratio:12/9){
    html{
        font-size:486%;
        -webkit-text-size-adjust:486%;
        -ms-text-size-adjust:486%;
    }
}
@media screen and (min-width:384.477em) and (max-width:426.840em) and (min-aspect-ratio:12/9){
    html{
        font-size:540%;
        -webkit-text-size-adjust:540%;
        -ms-text-size-adjust:540%;
    }
}
@media screen and (min-width:426.841em) and (max-width:473.396em) and (min-aspect-ratio:12/9){
    html{
        font-size:600%;
        -webkit-text-size-adjust:600%;
        -ms-text-size-adjust:600%;
    }
}
@media screen and (min-width:473.397em) and (max-width:524.560em) and (min-aspect-ratio:12/9){
    html{
        font-size:665%;
        -webkit-text-size-adjust:665%;
        -ms-text-size-adjust:665%;
    }
}
@media screen and (min-width:524.561em) and (max-width:580.792em) and (min-aspect-ratio:12/9){
    html{
        font-size:736%;
        -webkit-text-size-adjust:736%;
        -ms-text-size-adjust:736%;
    }
}
@media screen and (min-width:580.793em) and (max-width:642.592em) and (min-aspect-ratio:12/9){
    html{
        font-size:815%;
        -webkit-text-size-adjust:815%;
        -ms-text-size-adjust:815%;
    }
}
@media screen and (min-width:642.593em) and (min-aspect-ratio:12/9){
    html{
        font-size:902%;
        -webkit-text-size-adjust:902%;
        -ms-text-size-adjust:902%;
    }
}
@media screen and (min-width:1.001em) and (max-width:3.198em) and (max-aspect-ratio:9/12){
    html{
        font-size:10%;
        -webkit-text-size-adjust:10%;
        -ms-text-size-adjust:10%;
    }
}
@media screen and (min-width:3.199em) and (max-width:5.612em) and (max-aspect-ratio:9/12){
    html{
        font-size:22%;
        -webkit-text-size-adjust:22%;
        -ms-text-size-adjust:22%;
    }
}
@media screen and (min-width:5.613em) and (max-width:8.266em) and (max-aspect-ratio:9/12){
    html{
        font-size:34%;
        -webkit-text-size-adjust:34%;
        -ms-text-size-adjust:34%;
    }
}
@media screen and (min-width:8.267em) and (max-width:11.182em) and (max-aspect-ratio:9/12){
    html{
        font-size:48%;
        -webkit-text-size-adjust:48%;
        -ms-text-size-adjust:48%;
    }
}
@media screen and (min-width:11.183em) and (max-width:14.388em) and (max-aspect-ratio:9/12){
    html{
        font-size:63%;
        -webkit-text-size-adjust:63%;
        -ms-text-size-adjust:63%;
    }
}
@media screen and (min-width:14.389em) and (max-width:17.910em) and (max-aspect-ratio:9/12){
    html{
        font-size:80%;
        -webkit-text-size-adjust:80%;
        -ms-text-size-adjust:80%;
    }
}
@media screen and (min-width:17.911em) and (max-width:21.782em) and (max-aspect-ratio:9/12){
    html{
        font-size:99%;
        -webkit-text-size-adjust:99%;
        -ms-text-size-adjust:99%;
    }
}
@media screen and (min-width:21.783em) and (max-width:26.038em) and (max-aspect-ratio:9/12){
    html{
        font-size:119%;
        -webkit-text-size-adjust:119%;
        -ms-text-size-adjust:119%;
    }
}
@media screen and (min-width:26.039em) and (max-width:30.714em) and (max-aspect-ratio:9/12){
    html{
        font-size:141%;
        -webkit-text-size-adjust:141%;
        -ms-text-size-adjust:141%;
    }
}
@media screen and (min-width:30.715em) and (max-width:35.854em) and (max-aspect-ratio:9/12){
    html{
        font-size:166%;
        -webkit-text-size-adjust:166%;
        -ms-text-size-adjust:166%;
    }
}
@media screen and (min-width:35.855em) and (max-width:41.502em) and (max-aspect-ratio:9/12){
    html{
        font-size:193%;
        -webkit-text-size-adjust:193%;
        -ms-text-size-adjust:193%;
    }
}
@media screen and (min-width:41.503em) and (max-width:47.710em) and (max-aspect-ratio:9/12){
    html{
        font-size:223%;
        -webkit-text-size-adjust:223%;
        -ms-text-size-adjust:223%;
    }
}
@media screen and (min-width:47.711em) and (max-width:54.532em) and (max-aspect-ratio:9/12){
    html{
        font-size:255%;
        -webkit-text-size-adjust:255%;
        -ms-text-size-adjust:255%;
    }
}
@media screen and (min-width:54.533em) and (max-width:62.030em) and (max-aspect-ratio:9/12){
    html{
        font-size:291%;
        -webkit-text-size-adjust:291%;
        -ms-text-size-adjust:291%;
    }
}
@media screen and (min-width:62.031em) and (max-width:70.270em) and (max-aspect-ratio:9/12){
    html{
        font-size:330%;
        -webkit-text-size-adjust:330%;
        -ms-text-size-adjust:330%;
    }
}
@media screen and (min-width:70.271em) and (max-width:79.326em) and (max-aspect-ratio:9/12){
    html{
        font-size:373%;
        -webkit-text-size-adjust:373%;
        -ms-text-size-adjust:373%;
    }
}
@media screen and (min-width:79.327em) and (max-width:89.278em) and (max-aspect-ratio:9/12){
    html{
        font-size:421%;
        -webkit-text-size-adjust:421%;
        -ms-text-size-adjust:421%;
    }
}
@media screen and (min-width:89.279em) and (max-width:100.216em) and (max-aspect-ratio:9/12){
    html{
        font-size:473%;
        -webkit-text-size-adjust:473%;
        -ms-text-size-adjust:473%;
    }
}
@media screen and (min-width:100.217em) and (max-width:112.238em) and (max-aspect-ratio:9/12){
    html{
        font-size:531%;
        -webkit-text-size-adjust:531%;
        -ms-text-size-adjust:531%;
    }
}
@media screen and (min-width:112.239em) and (max-width:125.450em) and (max-aspect-ratio:9/12){
    html{
        font-size:594%;
        -webkit-text-size-adjust:594%;
        -ms-text-size-adjust:594%;
    }
}
@media screen and (min-width:125.451em) and (max-width:139.970em) and (max-aspect-ratio:9/12){
    html{
        font-size:663%;
        -webkit-text-size-adjust:663%;
        -ms-text-size-adjust:663%;
    }
}
@media screen and (min-width:139.971em) and (max-width:155.928em) and (max-aspect-ratio:9/12){
    html{
        font-size:739%;
        -webkit-text-size-adjust:739%;
        -ms-text-size-adjust:739%;
    }
}
@media screen and (min-width:155.929em) and (max-width:173.464em) and (max-aspect-ratio:9/12){
    html{
        font-size:823%;
        -webkit-text-size-adjust:823%;
        -ms-text-size-adjust:823%;
    }
}
@media screen and (min-width:173.465em) and (max-width:192.738em) and (max-aspect-ratio:9/12){
    html{
        font-size:915%;
        -webkit-text-size-adjust:915%;
        -ms-text-size-adjust:915%;
    }
}
@media screen and (min-width:192.739em) and (max-width:213.920em) and (max-aspect-ratio:9/12){
    html{
        font-size:1016%;
        -webkit-text-size-adjust:1016%;
        -ms-text-size-adjust:1016%;
    }
}
@media screen and (min-width:213.921em) and (max-width:237.198em) and (max-aspect-ratio:9/12){
    html{
        font-size:1127%;
        -webkit-text-size-adjust:1127%;
        -ms-text-size-adjust:1127%;
    }
}
@media screen and (min-width:237.199em) and (max-width:262.780em) and (max-aspect-ratio:9/12){
    html{
        font-size:1249%;
        -webkit-text-size-adjust:1249%;
        -ms-text-size-adjust:1249%;
    }
}
@media screen and (min-width:262.781em) and (max-width:290.896em) and (max-aspect-ratio:9/12){
    html{
        font-size:1384%;
        -webkit-text-size-adjust:1384%;
        -ms-text-size-adjust:1384%;
    }
}
@media screen and (min-width:290.897em) and (max-width:321.796em) and (max-aspect-ratio:9/12){
    html{
        font-size:1531%;
        -webkit-text-size-adjust:1531%;
        -ms-text-size-adjust:1531%;
    }
}
@media screen and (min-width:321.797em) and (max-aspect-ratio:9/12){
    html{
        font-size:1693%;
        -webkit-text-size-adjust:1693%;
        -ms-text-size-adjust:1693%;
    }
}
