/********************************************************************************************
 *
 * osoc_response.css v0.9.2 | MIT License | github.com/osoc/osoc_response.css
 * 
********************************************************************************************/
@media screen and (min-width:1.001em) and (max-width:5.400em) and (min-aspect-ratio:12/9){
    html{
        font-size:4%;
    }
}
@media screen and (min-width:5.401em) and (max-width:10.240em) and (min-aspect-ratio:12/9){
    html{
        font-size:10%;
    }
}
@media screen and (min-width:10.241em) and (max-width:15.564em) and (min-aspect-ratio:12/9){
    html{
        font-size:17%;
    }
}
@media screen and (min-width:15.565em) and (max-width:21.420em) and (min-aspect-ratio:12/9){
    html{
        font-size:24%;
    }
}
@media screen and (min-width:21.421em) and (max-width:27.860em) and (min-aspect-ratio:12/9){
    html{
        font-size:32%;
    }
}
@media screen and (min-width:27.861em) and (max-width:34.944em) and (min-aspect-ratio:12/9){
    html{
        font-size:41%;
    }
}
@media screen and (min-width:34.945em) and (max-width:42.736em) and (min-aspect-ratio:12/9){
    html{
        font-size:51%;
    }
}
@media screen and (min-width:42.737em) and (max-width:51.308em) and (min-aspect-ratio:12/9){
    html{
        font-size:62%;
    }
}
@media screen and (min-width:51.309em) and (max-width:60.736em) and (min-aspect-ratio:12/9){
    html{
        font-size:74%;
    }
}
@media screen and (min-width:60.737em) and (max-width:71.108em) and (min-aspect-ratio:12/9){
    html{
        font-size:87%;
    }
}
@media screen and (min-width:71.109em) and (max-width:82.520em) and (min-aspect-ratio:12/9){
    html{
        font-size:102%;
    }
}
@media screen and (min-width:82.521em) and (max-width:95.072em) and (min-aspect-ratio:12/9){
    html{
        font-size:118%;
    }
}
@media screen and (min-width:95.073em) and (max-width:108.880em) and (min-aspect-ratio:12/9){
    html{
        font-size:135%;
    }
}
@media screen and (min-width:108.881em) and (max-width:124.068em) and (min-aspect-ratio:12/9){
    html{
        font-size:155%;
    }
}
@media screen and (min-width:124.069em) and (max-width:140.776em) and (min-aspect-ratio:12/9){
    html{
        font-size:176%;
    }
}
@media screen and (min-width:140.777em) and (max-width:159.152em) and (min-aspect-ratio:12/9){
    html{
        font-size:199%;
    }
}
@media screen and (min-width:159.153em) and (max-width:179.368em) and (min-aspect-ratio:12/9){
    html{
        font-size:225%;
    }
}
@media screen and (min-width:179.369em) and (max-width:201.604em) and (min-aspect-ratio:12/9){
    html{
        font-size:253%;
    }
}
@media screen and (min-width:201.605em) and (max-width:226.064em) and (min-aspect-ratio:12/9){
    html{
        font-size:285%;
    }
}
@media screen and (min-width:226.065em) and (max-width:252.972em) and (min-aspect-ratio:12/9){
    html{
        font-size:319%;
    }
}
@media screen and (min-width:252.973em) and (max-width:282.572em) and (min-aspect-ratio:12/9){
    html{
        font-size:357%;
    }
}
@media screen and (min-width:282.573em) and (max-width:315.132em) and (min-aspect-ratio:12/9){
    html{
        font-size:398%;
    }
}
@media screen and (min-width:315.133em) and (max-width:350.948em) and (min-aspect-ratio:12/9){
    html{
        font-size:444%;
    }
}
@media screen and (min-width:350.949em) and (max-width:390.344em) and (min-aspect-ratio:12/9){
    html{
        font-size:494%;
    }
}
@media screen and (min-width:390.345em) and (max-width:433.680em) and (min-aspect-ratio:12/9){
    html{
        font-size:549%;
    }
}
@media screen and (min-width:433.681em) and (max-width:481.352em) and (min-aspect-ratio:12/9){
    html{
        font-size:610%;
    }
}
@media screen and (min-width:481.353em) and (max-width:533.788em) and (min-aspect-ratio:12/9){
    html{
        font-size:676%;
    }
}
@media screen and (min-width:533.789em) and (max-width:591.468em) and (min-aspect-ratio:12/9){
    html{
        font-size:750%;
    }
}
@media screen and (min-width:591.469em) and (max-width:654.920em) and (min-aspect-ratio:12/9){
    html{
        font-size:830%;
    }
}
@media screen and (min-width:654.921em) and (min-aspect-ratio:12/9){
    html{
        font-size:919%;
    }
}
@media screen and (min-width:1.001em) and (max-width:3.200em) and (max-aspect-ratio:9/12){
    html{
        font-size:9%;
    }
}
@media screen and (min-width:3.201em) and (max-width:5.620em) and (max-aspect-ratio:9/12){
    html{
        font-size:20%;
    }
}
@media screen and (min-width:5.621em) and (max-width:8.282em) and (max-aspect-ratio:9/12){
    html{
        font-size:32%;
    }
}
@media screen and (min-width:8.283em) and (max-width:11.210em) and (max-aspect-ratio:9/12){
    html{
        font-size:45%;
    }
}
@media screen and (min-width:11.211em) and (max-width:14.430em) and (max-aspect-ratio:9/12){
    html{
        font-size:60%;
    }
}
@media screen and (min-width:14.431em) and (max-width:17.972em) and (max-aspect-ratio:9/12){
    html{
        font-size:76%;
    }
}
@media screen and (min-width:17.973em) and (max-width:21.868em) and (max-aspect-ratio:9/12){
    html{
        font-size:93%;
    }
}
@media screen and (min-width:21.869em) and (max-width:26.154em) and (max-aspect-ratio:9/12){
    html{
        font-size:112%;
    }
}
@media screen and (min-width:26.155em) and (max-width:30.868em) and (max-aspect-ratio:9/12){
    html{
        font-size:134%;
    }
}
@media screen and (min-width:30.869em) and (max-width:36.054em) and (max-aspect-ratio:9/12){
    html{
        font-size:157%;
    }
}
@media screen and (min-width:36.055em) and (max-width:41.760em) and (max-aspect-ratio:9/12){
    html{
        font-size:183%;
    }
}
@media screen and (min-width:41.761em) and (max-width:48.036em) and (max-aspect-ratio:9/12){
    html{
        font-size:211%;
    }
}
@media screen and (min-width:48.037em) and (max-width:54.940em) and (max-aspect-ratio:9/12){
    html{
        font-size:242%;
    }
}
@media screen and (min-width:54.941em) and (max-width:62.534em) and (max-aspect-ratio:9/12){
    html{
        font-size:276%;
    }
}
@media screen and (min-width:62.535em) and (max-width:70.888em) and (max-aspect-ratio:9/12){
    html{
        font-size:313%;
    }
}
@media screen and (min-width:70.889em) and (max-width:80.076em) and (max-aspect-ratio:9/12){
    html{
        font-size:355%;
    }
}
@media screen and (min-width:80.077em) and (max-width:90.184em) and (max-aspect-ratio:9/12){
    html{
        font-size:400%;
    }
}
@media screen and (min-width:90.185em) and (max-width:101.302em) and (max-aspect-ratio:9/12){
    html{
        font-size:450%;
    }
}
@media screen and (min-width:101.303em) and (max-width:113.532em) and (max-aspect-ratio:9/12){
    html{
        font-size:505%;
    }
}
@media screen and (min-width:113.533em) and (max-width:126.986em) and (max-aspect-ratio:9/12){
    html{
        font-size:565%;
    }
}
@media screen and (min-width:126.987em) and (max-width:141.786em) and (max-aspect-ratio:9/12){
    html{
        font-size:632%;
    }
}
@media screen and (min-width:141.787em) and (max-width:158.066em) and (max-aspect-ratio:9/12){
    html{
        font-size:705%;
    }
}
@media screen and (min-width:158.067em) and (max-width:175.974em) and (max-aspect-ratio:9/12){
    html{
        font-size:785%;
    }
}
@media screen and (min-width:175.975em) and (max-width:195.672em) and (max-aspect-ratio:9/12){
    html{
        font-size:874%;
    }
}
@media screen and (min-width:195.673em) and (max-width:217.340em) and (max-aspect-ratio:9/12){
    html{
        font-size:971%;
    }
}
@media screen and (min-width:217.341em) and (max-width:241.176em) and (max-aspect-ratio:9/12){
    html{
        font-size:1078%;
    }
}
@media screen and (min-width:241.177em) and (max-width:267.394em) and (max-aspect-ratio:9/12){
    html{
        font-size:1196%;
    }
}
@media screen and (min-width:267.395em) and (max-width:296.234em) and (max-aspect-ratio:9/12){
    html{
        font-size:1326%;
    }
}
@media screen and (min-width:296.235em) and (max-width:327.960em) and (max-aspect-ratio:9/12){
    html{
        font-size:1468%;
    }
}
@media screen and (min-width:327.961em) and (max-aspect-ratio:9/12){
    html{
        font-size:1625%;
    }
}
