/********************************************************************************************
 *
 * osoc_response.css v0.9.3 | MIT License | github.com/osoc/osoc_response.css
 * 
********************************************************************************************/
@media screen and (min-width:1.001em) and (max-width:2.868em) and (min-aspect-ratio:12/9){
    html{
        font-size:2.579%;
    }
}
@media screen and (min-width:2.869em) and (max-width:4.919em) and (min-aspect-ratio:12/9){
    html{
        font-size:5.192%;
    }
}
@media screen and (min-width:4.920em) and (max-width:7.174em) and (min-aspect-ratio:12/9){
    html{
        font-size:8.062%;
    }
}
@media screen and (min-width:7.175em) and (max-width:9.652em) and (min-aspect-ratio:12/9){
    html{
        font-size:11.218%;
    }
}
@media screen and (min-width:9.653em) and (max-width:12.377em) and (min-aspect-ratio:12/9){
    html{
        font-size:14.686%;
    }
}
@media screen and (min-width:12.378em) and (max-width:15.370em) and (min-aspect-ratio:12/9){
    html{
        font-size:18.498%;
    }
}
@media screen and (min-width:15.371em) and (max-width:18.661em) and (min-aspect-ratio:12/9){
    html{
        font-size:22.688%;
    }
}
@media screen and (min-width:18.662em) and (max-width:22.278em) and (min-aspect-ratio:12/9){
    html{
        font-size:27.293%;
    }
}
@media screen and (min-width:22.279em) and (max-width:26.252em) and (min-aspect-ratio:12/9){
    html{
        font-size:32.354%;
    }
}
@media screen and (min-width:26.253em) and (max-width:30.621em) and (min-aspect-ratio:12/9){
    html{
        font-size:37.916%;
    }
}
@media screen and (min-width:30.622em) and (max-width:35.421em) and (min-aspect-ratio:12/9){
    html{
        font-size:44.028%;
    }
}
@media screen and (min-width:35.422em) and (max-width:40.697em) and (min-aspect-ratio:12/9){
    html{
        font-size:50.746%;
    }
}
@media screen and (min-width:40.698em) and (max-width:46.495em) and (min-aspect-ratio:12/9){
    html{
        font-size:58.128%;
    }
}
@media screen and (min-width:46.496em) and (max-width:52.868em) and (min-aspect-ratio:12/9){
    html{
        font-size:66.242%;
    }
}
@media screen and (min-width:52.869em) and (max-width:59.872em) and (min-aspect-ratio:12/9){
    html{
        font-size:75.160%;
    }
}
@media screen and (min-width:59.873em) and (max-width:67.569em) and (min-aspect-ratio:12/9){
    html{
        font-size:84.961%;
    }
}
@media screen and (min-width:67.570em) and (max-width:76.028em) and (min-aspect-ratio:12/9){
    html{
        font-size:95.732%;
    }
}
@media screen and (min-width:76.029em) and (max-width:85.325em) and (min-aspect-ratio:12/9){
    html{
        font-size:107.569%;
    }
}
@media screen and (min-width:85.326em) and (max-width:95.543em) and (min-aspect-ratio:12/9){
    html{
        font-size:120.579%;
    }
}
@media screen and (min-width:95.544em) and (max-width:106.773em) and (min-aspect-ratio:12/9){
    html{
        font-size:134.878%;
    }
}
@media screen and (min-width:106.774em) and (max-width:119.115em) and (min-aspect-ratio:12/9){
    html{
        font-size:150.592%;
    }
}
@media screen and (min-width:119.116em) and (max-width:132.679em) and (min-aspect-ratio:12/9){
    html{
        font-size:167.863%;
    }
}
@media screen and (min-width:132.680em) and (max-width:147.584em) and (min-aspect-ratio:12/9){
    html{
        font-size:186.842%;
    }
}
@media screen and (min-width:147.585em) and (max-width:163.966em) and (min-aspect-ratio:12/9){
    html{
        font-size:207.700%;
    }
}
@media screen and (min-width:163.967em) and (max-width:181.970em) and (min-aspect-ratio:12/9){
    html{
        font-size:230.624%;
    }
}
@media screen and (min-width:181.971em) and (max-width:201.756em) and (min-aspect-ratio:12/9){
    html{
        font-size:255.818%;
    }
}
@media screen and (min-width:201.757em) and (max-width:223.500em) and (min-aspect-ratio:12/9){
    html{
        font-size:283.504%;
    }
}
@media screen and (min-width:223.501em) and (max-width:247.398em) and (min-aspect-ratio:12/9){
    html{
        font-size:313.932%;
    }
}
@media screen and (min-width:247.399em) and (max-width:273.663em) and (min-aspect-ratio:12/9){
    html{
        font-size:347.374%;
    }
}
@media screen and (min-width:273.664em) and (max-width:302.527em) and (min-aspect-ratio:12/9){
    html{
        font-size:384.127%;
    }
}
@media screen and (min-width:302.528em) and (max-width:334.249em) and (min-aspect-ratio:12/9){
    html{
        font-size:424.518%;
    }
}
@media screen and (min-width:334.250em) and (max-width:369.112em) and (min-aspect-ratio:12/9){
    html{
        font-size:468.908%;
    }
}
@media screen and (min-width:369.113em) and (max-width:407.426em) and (min-aspect-ratio:12/9){
    html{
        font-size:517.692%;
    }
}
@media screen and (min-width:407.427em) and (max-width:449.533em) and (min-aspect-ratio:12/9){
    html{
        font-size:571.306%;
    }
}
@media screen and (min-width:449.534em) and (max-width:495.808em) and (min-aspect-ratio:12/9){
    html{
        font-size:630.228%;
    }
}
@media screen and (min-width:495.809em) and (max-width:546.665em) and (min-aspect-ratio:12/9){
    html{
        font-size:694.982%;
    }
}
@media screen and (min-width:546.666em) and (max-width:602.557em) and (min-aspect-ratio:12/9){
    html{
        font-size:766.148%;
    }
}
@media screen and (min-width:602.558em) and (max-width:663.983em) and (min-aspect-ratio:12/9){
    html{
        font-size:844.360%;
    }
}
@media screen and (min-width:663.984em) and (max-width:731.490em) and (min-aspect-ratio:12/9){
    html{
        font-size:930.316%;
    }
}
@media screen and (min-width:731.491em) and (min-aspect-ratio:12/9){
    html{
        font-size:1024.781%;
    }
}
@media screen and (min-width:1.001em) and (max-width:2.868em) and (max-aspect-ratio:9/12){
    html{
        font-size:9.103%;
    }
}
@media screen and (min-width:2.869em) and (max-width:4.919em) and (max-aspect-ratio:9/12){
    html{
        font-size:18.324%;
    }
}
@media screen and (min-width:4.920em) and (max-width:7.174em) and (max-aspect-ratio:9/12){
    html{
        font-size:28.456%;
    }
}
@media screen and (min-width:7.175em) and (max-width:9.652em) and (max-aspect-ratio:9/12){
    html{
        font-size:39.592%;
    }
}
@media screen and (min-width:9.653em) and (max-width:12.377em) and (max-aspect-ratio:9/12){
    html{
        font-size:51.835%;
    }
}
@media screen and (min-width:12.378em) and (max-width:15.370em) and (max-aspect-ratio:9/12){
    html{
        font-size:65.289%;
    }
}
@media screen and (min-width:15.371em) and (max-width:18.661em) and (max-aspect-ratio:9/12){
    html{
        font-size:80.075%;
    }
}
@media screen and (min-width:18.662em) and (max-width:22.278em) and (max-aspect-ratio:9/12){
    html{
        font-size:96.329%;
    }
}
@media screen and (min-width:22.279em) and (max-width:26.252em) and (max-aspect-ratio:9/12){
    html{
        font-size:114.190%;
    }
}
@media screen and (min-width:26.253em) and (max-width:30.621em) and (max-aspect-ratio:9/12){
    html{
        font-size:133.821%;
    }
}
@media screen and (min-width:30.622em) and (max-width:35.421em) and (max-aspect-ratio:9/12){
    html{
        font-size:155.395%;
    }
}
@media screen and (min-width:35.422em) and (max-width:40.697em) and (max-aspect-ratio:9/12){
    html{
        font-size:179.103%;
    }
}
@media screen and (min-width:40.698em) and (max-width:46.495em) and (max-aspect-ratio:9/12){
    html{
        font-size:205.160%;
    }
}
@media screen and (min-width:46.496em) and (max-width:52.868em) and (max-aspect-ratio:9/12){
    html{
        font-size:233.797%;
    }
}
@media screen and (min-width:52.869em) and (max-width:59.872em) and (max-aspect-ratio:9/12){
    html{
        font-size:265.272%;
    }
}
@media screen and (min-width:59.873em) and (max-width:67.569em) and (max-aspect-ratio:9/12){
    html{
        font-size:299.863%;
    }
}
@media screen and (min-width:67.570em) and (max-width:76.028em) and (max-aspect-ratio:9/12){
    html{
        font-size:337.877%;
    }
}
@media screen and (min-width:76.029em) and (max-width:85.325em) and (max-aspect-ratio:9/12){
    html{
        font-size:379.656%;
    }
}
@media screen and (min-width:85.326em) and (max-width:95.543em) and (max-aspect-ratio:9/12){
    html{
        font-size:425.574%;
    }
}
@media screen and (min-width:95.544em) and (max-width:106.773em) and (max-aspect-ratio:9/12){
    html{
        font-size:476.040%;
    }
}
@media screen and (min-width:106.774em) and (max-width:119.115em) and (max-aspect-ratio:9/12){
    html{
        font-size:531.503%;
    }
}
@media screen and (min-width:119.116em) and (max-width:132.679em) and (max-aspect-ratio:9/12){
    html{
        font-size:592.458%;
    }
}
@media screen and (min-width:132.680em) and (max-width:147.584em) and (max-aspect-ratio:9/12){
    html{
        font-size:659.444%;
    }
}
@media screen and (min-width:147.585em) and (max-width:163.966em) and (max-aspect-ratio:9/12){
    html{
        font-size:733.061%;
    }
}
@media screen and (min-width:163.967em) and (max-width:181.970em) and (max-aspect-ratio:9/12){
    html{
        font-size:813.969%;
    }
}
@media screen and (min-width:181.971em) and (max-width:201.756em) and (max-aspect-ratio:9/12){
    html{
        font-size:902.887%;
    }
}
@media screen and (min-width:201.757em) and (max-width:223.500em) and (max-aspect-ratio:9/12){
    html{
        font-size:1000.604%;
    }
}
@media screen and (min-width:223.501em) and (max-width:247.398em) and (max-aspect-ratio:9/12){
    html{
        font-size:1107.997%;
    }
}
@media screen and (min-width:247.399em) and (max-width:273.663em) and (max-aspect-ratio:9/12){
    html{
        font-size:1226.028%;
    }
}
@media screen and (min-width:273.664em) and (max-width:302.527em) and (max-aspect-ratio:9/12){
    html{
        font-size:1355.743%;
    }
}
@media screen and (min-width:302.528em) and (max-width:334.249em) and (max-aspect-ratio:9/12){
    html{
        font-size:1498.298%;
    }
}
@media screen and (min-width:334.250em) and (max-width:369.112em) and (max-aspect-ratio:9/12){
    html{
        font-size:1654.969%;
    }
}
@media screen and (min-width:369.113em) and (max-width:407.426em) and (max-aspect-ratio:9/12){
    html{
        font-size:1827.150%;
    }
}
@media screen and (min-width:407.427em) and (max-width:449.533em) and (max-aspect-ratio:9/12){
    html{
        font-size:2016.376%;
    }
}
@media screen and (min-width:449.534em) and (max-width:495.808em) and (max-aspect-ratio:9/12){
    html{
        font-size:2224.334%;
    }
}
@media screen and (min-width:495.809em) and (max-width:546.665em) and (max-aspect-ratio:9/12){
    html{
        font-size:2452.880%;
    }
}
@media screen and (min-width:546.666em) and (max-width:602.557em) and (max-aspect-ratio:9/12){
    html{
        font-size:2704.054%;
    }
}
@media screen and (min-width:602.558em) and (max-width:663.983em) and (max-aspect-ratio:9/12){
    html{
        font-size:2980.096%;
    }
}
@media screen and (min-width:663.984em) and (max-width:731.490em) and (max-aspect-ratio:9/12){
    html{
        font-size:3283.468%;
    }
}
@media screen and (min-width:731.491em) and (max-aspect-ratio:9/12){
    html{
        font-size:3616.875%;
    }
}
